In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list(range(1,14,3))

[1, 4, 7, 10, 13]

In [10]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [17]:
name="Hayakawa"
len(name)

8

In [31]:
name.upper()

'HAYAKAWA'

In [18]:
len([0,1,2,3,4])

5

In [ ]:
name.upperは文字列専用．これを特定のデータ専用機能:メソッドという．

name="Hayakawa"
len(name)とname.upperに統一感が無い．

len()は他の事にも使える(In[18]参照)がname.upperは使えない

問26:あるデータ型だけが独自に持っている関数のことを，(メソッド)と呼びます。

In [19]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [20]:
address.split('o')

['T', 'ky', ',Japan']

In [21]:
address.index('T')

0

In [22]:
address.index('p')

8

In [23]:
address.index('X')

ValueError: substring not found

In [24]:
address.upper()

'TOKYO,JAPAN'

問題31 文字列が持つメソッドをhttp://docs.python.jp/3.5/library/stdtypes.html#string-methods で調べられる．

In [25]:
address.lower()

'tokyo,japan'

In [26]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [27]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [30]:
date_a.year

2008

In [32]:
name.upper()

'HAYAKAWA'

name.upper()
括弧あり:何らかの処理をする
↑メソッド

date_a.year
括弧なし:データにアクセスするだけ
↑属性

メソッドと属性を合わせたものを「オブジェクト」と呼ぶ。

In [36]:
from datetime import *
birthday = date(1997, 11, 21)
today = date.today()
result = today - birthday
print(result)

7117 days, 0:00:00

In [37]:
today.weekday()

2

月，火，水，木，金，土，日
０，１，２，３，４，５，６

In [39]:
date_c = date(2000,5,5)