In [1]:
a=[1,2,3,4,5]

In [3]:
合計/データ数

NameError: name '合計' is not defined

In [4]:
合計=順番に足した結果

NameError: name '順番に足した結果' is not defined

In [12]:
s=0

s=s+1     #0をsと呼ぶことにし，1を足してsと呼ぶことにする．
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [14]:
a=[1,2,3,4,5]

for x in a:       #リストa各要素をxと呼び，xをprintする．
    print(x)      #字下げでどこまで有効か決まる．

1
2
3
4
5

In [15]:
a=[1,2,3,4,5]

for x in a:
    print('hello')
print('world')        #字下げをやめると無効

hello
hello
hello
hello
hello
world

In [19]:
'''問91'''

list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
 print(val)                   #コピペしたら字下げがなくなるよ

5349
5478
5344
4644
4968
6259

In [21]:
""""問92(前座)"""""

a=[1,2,3,4,5]

s=0

for x in a:
    s=s+x

s

15

In [24]:
'''平均の求め方'''

a=[1,2,3,4,5]

s=0

for x in a:
    s=s+x

s/len(a)   #len(a)はデータ数何個?の意

3.0

In [25]:
'''問92'''

avg_tohoku = 0.0

for val in list_tohoku:
 avg_tohoku += val          　　　　#「+=」：足していく

avg_tohoku /= len(list_tohoku)      #「/=」：割っていく
print(avg_tohoku)

5340.333333333333

In [29]:
a=[1,2,3,4,5]

s=0

for x in a:
    s=s+x

s/=len(a)　　　#s=s/len(a)の事．
s              #合計値は残らない．

3.0

In [33]:
''''''''''問93'''''''''''
'''平均の求め方(授業的)'''

list_shikoku = [3148, 2991, 2966, 2457]

s=0.0              #合計値を0という事にしておく!
for val in list_shikoku:
    s+=val
    
s/len(list_shikoku)

2890.5

In [36]:
''''''''''問94'''''''''''
'''平均の求め方(実用的)'''

from statistics import *
mean(list_shikoku)

2890.5

In [35]:
mean([3148, 2991, 2966, 2457])

2890.5

In [41]:
'''辞書の復習'''

dic={'A':100,'B':20,'C':3000}
dic['A']

100

In [43]:
for key in dic:
    print(key)

A
B
C

In [50]:
'''問96'''

dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [51]:

dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

for key in dict_tohoku:
    print(key)
    print(dict_tohoku[key])

aomori
5349
akita
4644
sendai
5344
Yamagata
4968
fukushima
6259
morioka
5478

In [64]:
'''問題'''

dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

s=0

for val in dict_tohoku:      #ここでforの後に決めた文字を角括弧にいれて数字を出す．
    s+=dict_tohoku[val]
    
s/len(list_tohoku)

5340.333333333333

①．[5，4，3，2]の平均
②．{'A':10,'B':100,'C':1000}の大きさの値の平均値
③．{10:'A',100:'B',1000:'C'}のキーの平均値

In [65]:
'''①'''

a=[5,4,3,2]
s=0

for x in a:
    s+=x
    
s/len(a)

3.5

In [67]:
'''②'''
'''問99'''

b={'A':10,'B':100,'C':1000}
s=0

for y in b:
    s+=b[y]

s/len(b)

370.0

In [74]:
'''問99(tohokuの平均ではない)'''
mean(b.values())

370

In [68]:
'''③'''

c={10:'A',100:'B',1000:'C'}
s=0

for z in c:
    s+=z
    
s/len(c)

370.0